.chatList {
    display: flex;
    align-items: center;
    border-bottom: 1px solid darkgray;
    padding: 0.2rem 0.5rem;
}

.chatList:hover {
    cursor: pointer;
}

.chatList.active {
    background: rgb(252, 183, 55);
    border-radius: 4px;
    color: white;
    transition: all 300ms ease-in-out;
}

.chatList.active > .li_description >.li_right > .msgCount {
    display: none;
}

.chatList.active > .li_description >.li_right {
    justify-content: center;
}


.li_description {
    flex : 1;
    margin-left: 0.5rem;
    display: flex;
    justify-content: space-between;
    padding: 4px 8px;
}

.li_left p:nth-of-type(1) {
    font-weight: bold;
}

.li_left p:nth-of-type(2) {
    font-size: 0.75rem;
    color: gray;
}

.li_right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.li_right p:nth-of-type(1) {
    font-size: 0.8rem;
    font-weight: bold;
}

.msgCount {
    background-color: orange;
    width: 20px;
    height: 20px;
    font-size: 0.75rem;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
