.c_container {
    width: 60%;
    max-height: 50vh;
    margin: auto;
    margin-top: 5rem;
}

.cards {
    overflow-y: auto;
    height: 55vh;
}

@media screen and (max-width : 1024px) {
    .c_container {
        width: 90%;
    }
}