a {
    text-decoration: none;
    color: none;
}
a:active, a:visited {
    color: black;
}

.n_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.n_logo {
    font-size: 1.5rem;
    display: flex;
    gap: 0.5rem;
    font-weight: bold;
}

.logo_wrap{
    transform: rotate(-40deg)}

.n_itemRow {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    text-transform: uppercase;
}

.n_item {
    padding: 4px 16px;
    font-size: 1rem
}

.n_item:hover {
    cursor: pointer;
}

