a {
    text-decoration: none;
    color: none;
}
a:active, a:visited {
    color: black;
}

.n_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.n_logo {
    font-size: 1.5rem;
    display: flex;
    gap: 0.5rem;
    font-weight: bold;
}
.logo_wrap{
    transform: rotate(-40deg)
}

.n_itemRow {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    text-transform: uppercase;
}

.n_item {
    padding: 4px 16px;
    font-size: 1rem
}

.n_item:hover {
    cursor: pointer;
}

.n_hamburgerBtn {
    display: none;
    position: absolute;
    left: 85%;
    top : 2rem;
    font-size: 1rem;
}

@media screen and (max-width:1024px) {
    .n_hamburgerBtn {
        display: block;
    }
    .n_wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .n_items {
        width: 100%;
        display: none;
    }
    .n_items.active {
        display: block;
    }
    .n_itemRow {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    .n_logo {
        align-items: flex-start;
    }
    .n_item {
        background-color: skyblue;
    }
    .n_item:hover {
        background-color: white;
        color: black;
        border-radius: 4px;
        padding: 4px;
    }

    .n_hamburgerBtn {
        top: 1.5rem;
    }
}